
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<div data-role="content">
	<h2>Dernier metro dans</h2>
	<div id="counter"></div>
	<div id="alarm">
		<button id="start_alarm">Activer l'alarme</button>
	</div>
	<div id="stations">
		<ul id="listView" data-role="listview" data-divider-theme="" data-inset="true">
			<li data-theme="c" >
				<img class="valign" src="img/flag_green.png" width="20" height="22" alt="" />
				<a class="valign"  href="#" data-transition="slide" id="nstart">
					Depart
				</a>
			</li>
			<li data-theme="c">
				<img class="valign" src="img/flag_red.png" width="20" height="22" alt="" />
				<a class="valign"  href="#" data-transition="slide"  id="nend">
					Arrivé
				</a>
			</li>
		</ul>
	</div>
	<div id="trip">
		<img style="valign" src="img/runningman.png" alt="" width="23" height="27"  />&nbsp;&nbsp;5 min
        <div id="station">
            <img class="iStart" src="" alt="?" style="width: 25px;"/>
            <img class="iEnd" src="" alt="?" style="width: 25px;" />
        </div>
	</div>
</div>
<div id="end">
    <div id="btnMapView" >
        <button><img style="valign" src="img/map.png" alt="" width="27" height="19"  />&nbsp;&nbsp;Voir la carte</button>
    </div>
	<div id="corner">
		<img style="valign" src="img/corner.png" alt="" width="52" height="52"  />
	</div>
	<div id="parameters">
		<img style="valign" src="img/parameters.png" alt="" width="22" height="22"  />
	</div>
</div>
<script type="text/javascript" src="scripts/jquery.countdown.js"></script>
</html>
