<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

    <div data-role="header" data-position="fixed">
        <h1>Home View</h1>
    </div>

    <div data-role="content">
        <h2>votre métro part dans</h2>
        <div id="counter"></div>
        <button id="start_alarm">Activer l'alarme</button>
        <ul id="listView" data-role="listview" data-divider-theme="" data-inset="true">
            <li data-role="list-divider" role="heading">
                Divider
            </li>
            <li data-theme="c">
                <a id="nstart" href="#start" data-transition="slide">
                    Depart
                </a>
            </li>
            <li data-theme="c">
                <a id="nend" href="#end" data-transition="slide" >
                    Arrivé
                </a>
            </li>
        </ul>
        <button id="btnMapView">voir carte</button>
    </div>

<!--<div data-role="page" id="start" data-theme="a">
    <div data-role="header" data-position="fixed">
        <h1>Depart</h1>
    </div>
    <div data-role="content" data-theme="a">
        <h2>recherche</h2>
    </div>
</div>

<div data-role="page" id="end">

    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Arrivée</h1>
    </div>

    <div data-role="content" data-theme="a">
        <h2>recherche</h2>


    </div>


</div>-->
<script>


</script>
<script type="text/javascript" src="scripts/jquery.countdown.js"></script>
